<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.appservice.base.mapper.DeviceinfoMapper" >
  <resultMap id="BaseResultMap" type="cn.appservice.base.po.Deviceinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deviceModel" property="devicemodel" jdbcType="INTEGER" />
    <result column="deviceName" property="devicename" jdbcType="VARCHAR" />
    <result column="systemVersion" property="systemversion" jdbcType="CHAR" />
    <result column="deviceToken" property="devicetoken" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, deviceModel, deviceName, systemVersion, deviceToken
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.appservice.base.po.DeviceinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from deviceInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deviceInfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deviceInfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.appservice.base.po.DeviceinfoExample" >
    delete from deviceInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.appservice.base.po.Deviceinfo" >
    insert into deviceInfo (id, deviceModel, deviceName, 
      systemVersion, deviceToken)
    values (#{id,jdbcType=INTEGER}, #{devicemodel,jdbcType=INTEGER}, #{devicename,jdbcType=VARCHAR}, 
      #{systemversion,jdbcType=CHAR}, #{devicetoken,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.appservice.base.po.Deviceinfo" >
    insert into deviceInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="devicemodel != null" >
        deviceModel,
      </if>
      <if test="devicename != null" >
        deviceName,
      </if>
      <if test="systemversion != null" >
        systemVersion,
      </if>
      <if test="devicetoken != null" >
        deviceToken,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="devicemodel != null" >
        #{devicemodel,jdbcType=INTEGER},
      </if>
      <if test="devicename != null" >
        #{devicename,jdbcType=VARCHAR},
      </if>
      <if test="systemversion != null" >
        #{systemversion,jdbcType=CHAR},
      </if>
      <if test="devicetoken != null" >
        #{devicetoken,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.appservice.base.po.DeviceinfoExample" resultType="java.lang.Integer" >
    select count(*) from deviceInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update deviceInfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.devicemodel != null" >
        deviceModel = #{record.devicemodel,jdbcType=INTEGER},
      </if>
      <if test="record.devicename != null" >
        deviceName = #{record.devicename,jdbcType=VARCHAR},
      </if>
      <if test="record.systemversion != null" >
        systemVersion = #{record.systemversion,jdbcType=CHAR},
      </if>
      <if test="record.devicetoken != null" >
        deviceToken = #{record.devicetoken,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update deviceInfo
    set id = #{record.id,jdbcType=INTEGER},
      deviceModel = #{record.devicemodel,jdbcType=INTEGER},
      deviceName = #{record.devicename,jdbcType=VARCHAR},
      systemVersion = #{record.systemversion,jdbcType=CHAR},
      deviceToken = #{record.devicetoken,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.appservice.base.po.Deviceinfo" >
    update deviceInfo
    <set >
      <if test="devicemodel != null" >
        deviceModel = #{devicemodel,jdbcType=INTEGER},
      </if>
      <if test="devicename != null" >
        deviceName = #{devicename,jdbcType=VARCHAR},
      </if>
      <if test="systemversion != null" >
        systemVersion = #{systemversion,jdbcType=CHAR},
      </if>
      <if test="devicetoken != null" >
        deviceToken = #{devicetoken,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.appservice.base.po.Deviceinfo" >
    update deviceInfo
    set deviceModel = #{devicemodel,jdbcType=INTEGER},
      deviceName = #{devicename,jdbcType=VARCHAR},
      systemVersion = #{systemversion,jdbcType=CHAR},
      deviceToken = #{devicetoken,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>