<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.appservice.mapper.UserCoustomMapper" >

    <select id="userTest" statementType="CALLABLE"  resultType="java.lang.Integer">
     call select_user_count()
    </select>

</mapper>